<h1> Pedidos feitos: </h1>
<a href="/home"><button>Voltar</button></a>
<!-- a variavel mostrandoPedidos recebe os pedidos do banco de dados (array de pedidos)-->
{{#each mostrandoPedidos}} 
    <p>ID do pedido: {{dataValues.id}}</p>
    <p>CPF do cliente: {{dataValues.cpfCliente}}</p>
    <p>ID da Pizza: {{dataValues.idPizza}}</p>
    <p>Quantidade: {{dataValues.quantidade}}</p>
    <p>Status: {{dataValues.status}}</p>
    <a href="/pedido/dados/{{dataValues.cpfCliente}}/{{dataValues.idPizza}}/{{dataValues.id}}"><button>Ver dados do pedido</button></a>
    <hr>
{{/each}}