<h1>Meus dados: </h1>
<a href="/home"><button>Voltar</button></a>

<p>CPF: {{mostrandoCliente.dataValues.cpf}}</p>
<p>Nome: {{mostrandoCliente.dataValues.nome}}</p>
<p>Logradouro: {{mostrandoCliente.dataValues.logradouro}}</p>
<p>Bairro: {{mostrandoCliente.dataValues.bairro}}</p>
<p>Cidade: {{mostrandoCliente.dataValues.cidade}}</p>
<p>Telefone: {{mostrandoCliente.dataValues.telefone}}</p>
<a href="/cliente/editar/{{mostrandoCliente.dataValues.cpf}}"><button>Editar dados</button></a>
<hr>
